* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}
